.navbar li,
.navbar a {
  display: inline-block;
  text-align: left;
}

.navbar .container {
  position: relative;
}

.navbar-nav,
.navbar .collapse,
.navbar-nav li {
  position: static;
}

.nav .menu-item a {
  letter-spacing: 0.38px;
}

.nav .menu-item a:hover {
  letter-spacing: 0;
}

.menu-item-has-children,
.menu-item-has-children .dropdown-menu {
  left: auto;
}

.menu-item-has-children .dropdown-menu {
  width: auto !important;
}

@media (min-width: 767px) {

  ul.dropdown-menu.sub-menu.depth_1 {
    left: 100%;
    top: -10%;
  }

  .dropdown > .dropdown-menu {
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 1000;
    float: none;
    list-style: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 0;
    margin-top: 10px !important;
    display: block;
    visibility: hidden;
    min-width: 185px;
    transition: all 0.2s ease-in-out;
    background-color: #e4e3e9;
    padding: 0;
  }

  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    display: block;
    opacity: 1;
    margin-top: 5px !important;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all 0.2s ease-in-out;
    background-color: #e4e3e9;
    color: #202255;
  }

  .nav .dropdown-menu .menu-item a {
    color: #202255 !important;
  }

  .nav .dropdown-menu .menu-item:hover > a {
    background-color: #202255;
    color: #fff !important;
  }

  .mega-menu-parent.dropdown .dropdown-menu {
    position: absolute;
    left: 0;
  }
}
