.rounded_border {
  border-radius: 20px !important;
  padding-top: 2% !important;
}

.button_big {
  font-size: 18px !important;
}

.list_title {
  font-size: 14px !important;
}

.box_table {
  border: 2px solid #fff;
  display: block;
  text-align: center;
  background-color: #d4e8f1;
  max-height: 250px;
}
