.rounded_border {
  border-radius: 20px !important;
  padding-top: 2% !important;
}

.button_big {
  font-size: 18px !important;
}

.box_table {
  padding-top: 1%;
  border: 2px solid #fff;
  display: block;
  background-color: #d4e8f1;
  max-height: 250px;
}
